<?xml version="1.0" ?>
<robot name="partnet_ub5271dfa-56bd-418c-9588-e94f39c12e42">
	<link name="base"/>
	<link name="link_0">
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-30.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-31.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-32.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-34.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-35.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-36.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-56.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-57.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-58.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-54.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-22.stl"/>
			</geometry>
		</visual>
		<visual name="opener-1">
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-24.stl"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-30.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-31.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-32.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-34.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-35.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-36.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-56.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-57.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-58.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-54.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-22.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.04729940997071713 -0.10796564958696098 -0.5301049999999998"/>
			<geometry>
				<mesh filename="textured_objs/original-24.stl"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="prismatic">
		<origin xyz="0.04729940997071713 0.10796564958696098 0.5301049999999998"/>
		<axis xyz="0 0 1"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0" upper="1"/>
	</joint>
	<link name="link_1">
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.stl"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.stl"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.stl"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
